<div class="container">
  <form (ngSubmit)="onSearch()">
    <h2 class="head">Check weather for your city:</h2>
    <mat-form-field appearance="outline">
      <input
        type="text"
        aria-label="Select city to find weather"
        matInput
        [ngModel]="cityInput()"
        (ngModelChange)="setInput($event)"
        [matAutocomplete]="auto"
        name="searchCity"
        [aria-describedby]="cityNotSelectedError() ? 'city-select-err' : ''"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions() | async; track option) {
        <mat-option [value]="option"
          >{{ option.name }}, {{ option.state }},
          {{ option.country }}</mat-option
        >
        }
      </mat-autocomplete>
      <button
        type="submit"
        mat-icon-button
        matSuffix
        [attr.aria-label]="'Search weather'"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    @if(cityNotSelectedError()){
    <mat-error [style]="{ 'font-size': '1.3rem' }"
      ><p id="city-select-err">Select city from list is required</p></mat-error
    >
    }
  </form>
</div>
<router-outlet />
